body {
	margin: 6px;
	padding: 0px;
	text-align: center;
	font:81.25% arial, helvetica, sans-serif;
}

#container {
	width: 820px;
	height: 683px;
	margin: auto auto;
	text-align: left;
	padding: 6px;
	border: 1px solid #333;
	background-color: #eee;
	display: block;
}

#header {
	
	width: auto;
	display: block;
	height: 66px;
	border: 1px solid #333;
	background: url(/resources/img/head_bckg.jpg) repeat-x;
	
}

#horizon {
	width: auto;
	display: block;
	height: 38px;
	border: 1px solid #333;
}

#topbar {
	float: left;
	width: 490px;
	height: 24px;
	margin-top: 6px;
	margin-right: 6px;
	margin-left: 6px;
	
/*  border: 1px solid #333; */
}

#identity{
	float: right;
	width: 300px;
	height: 24px;
	margin-top: 6px;
	margin-right: 6px;
	margin-left: 6px;
/*  border: 1px solid #333; */
	text-align: right;
}

#identity form>table {
	float: right;
}

#main {
	width: auto;
	height: 500px;
	display: block;
	border: 1px solid #333;
}

#navigation {
	float: left;
	width: 164px;
	height: 472px;
	padding: 6px;
	margin-right: 6px;
	margin-left: 6px;
	margin-top: 6px;
	border: 1px solid #333;
}

#content{
	float: right;
	width: 594px;
	height: 472px;
	padding: 6px;
	margin-top: 6px;
	margin-right: 6px;
	margin-left: 6px;
	border: 1px solid #333;
}

#footer {
	width: auto;
	display: block;
	height: 24px;
	border: 1px solid #333;
}

.error {
	color: red;
	font-weight: bold;
}

.info {
	color: green;
	font-weight: bold;
}

.ui-widget, .ui-widget .ui-widget {
font-size: 90% !important;
}