<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                
                 xmlns:p="http://primefaces.org/ui"   
                template="/template/index.xhtml" >
                	
		<ui:define name="PageTitle">maps</ui:define>	
			
			<ui:define name="PageContent">
			
		<h2>TEST</h2>	

 


  
            <p:gmap center="41.381542, 2.122893" zoom="15" type="HYBRID" style="width:600px;height:400px"/>
     
  
  
          
			
			</ui:define>
</ui:composition>