<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="/template/template.xhtml"
                
                   xmlns:p="http://primefaces.org/ui">
                
                	
				<ui:define name="PageTitle"> Test map</ui:define>		
			<ui:define name="PageContent">
		
			
		


   <p:growl id="growl" showDetail="true"/> 
      <p:gmap center="36.8614933, 10.2004623" zoom="9"  type="HYBRID"   
        style="width:600px;height:400px"  
        model="#{mapBean.simpleModel}" > 
       
         <p:ajax event="overlaySelect" listener="#{mapBean.onMarkerSelect}" update="growl" />  
    </p:gmap> 
        


			</ui:define>
			
	
			
			
</ui:composition>