<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">
	<h:head>
	
		<title>Home Page</title>
	</h:head>
	<h:body>
		<h2  > <center > Collocation collaborative Plateform</center> </h2>
		<table>
		<th> you have an account ?</th>
		<td>  <h:form>
	<h:commandLink action="/pages/login" value="LOG IN" />
	</h:form> </td>
	<tr> 
	or   new user? 
	
	<td>   <h:form>
	<h:commandLink action="/pages/inscription" value="SUBSCRIBE" />
	</h:form>  </td> 
	</tr>
	
		</table>
		
	</h:body>
</html>