<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets">
                	
                	
                	
                	<h:form rendered="#{authBean.loggedIn}">
                	
                	
                	<h:panelGrid columns="2">
                	
                	<h:outputText value="Logged in as #{authBean.user.login}" />
                	<h:commandLink action="#{authBean.logout}" value="Logout" />
                	
                	
                	
                	</h:panelGrid>
                	</h:form>

</ui:composition>