<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      
       xmlns:p="http://primefaces.org/ui">
	<h:head>
		<title> 
		
		
		  <ui:insert name="PageTitle">  </ui:insert></title>
		
		
		<link rel="shortcut icon" type="image/x-icon" href="#{request.contextPath}/resources/img/Capture3.ico" />
		<link href="#{request.contextPath}/resources/css/style.css" rel="stylesheet" type="text/css" /> 
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<!--  	<h:outputStylesheet library="css" name="style.css"/> -->
		
	
	
	</h:head>

<body>
<div id="container">
	<!-- header -->
     <div id="header">
     
    	<div id="logo"><a href="#"><span class="orange">Collocation Collaborative Platform 
 
  
    	
    	</span>
    	
    	              </a></div>
        <div id="menu">
        	<ul>
            <li><a href="#" class="active">home</a></li>
            <li><a href="#">about us</a></li>
            <li><a href="#">services</a></li>
            <li><a href="#">pricing</a></li>
            <li><a href="#">contacts</a></li>
            </ul>
        </div>
    </div>
    
    <!--end header -->
    
    
    
    <div id="horizon" >
    <center>
					<div id="topbar" class="orange" > <ui:include src="/template/topbar.xhtml" /><ui:include src="/template/identity.xhtml" />
					
					</div>
					<div id="identity"></div>
					
				
				</center>
				</div>
    
    
    <!-- main -->
    <div id="main">
        <div id="content">
        
        
        <div id="head_image">
       
        	<div id="slogan">
       	     roommate and house for rent in few click</div>
       	    
            <div id="under_slogan_text"><br />
            EasyColoc.tn is designed for student to simplify the collocation search process.<br></br>
It will help them to find roommates anywhere in Tunisia through online ads. <br />
 <br />EasyColoc.tn facilitates collocation search process, communication between students “tenant”,
 <br />looking for a property or roommate and collaboration between students and property owner
         
         
             
           
              
                 
           </div>
            
            </div>
        <div id="text">
             <p:clock />
            <ui:insert name="PageContent"></ui:insert> </div>
            
       </div>
       <div id="sidebar">
     	
       
      
     <h:graphicImage value="/resources/img/colocation.PNG" />
       </div>
       </div>
    </div>
    <!-- end main -->
    <!-- footer -->
    <div id="footer">
    <div id="left_footer">&copy; Copyright 2013 JTech Team
    </div>
    <div id="right_footer">

<!-- Please do not change or delete this link. Read the license! Thanks. :-) -->
Design by <a href="http://www.realitysoftware.ca" title="Website Design">Reality Software</a>

    </div>
    </div>
    <!-- end footer -->

</body>
</html>
	