<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">
	<h:head>
		<title>  <ui:insert name="PageTitle"> </ui:insert> </title>
		
		<h:outputStylesheet library="css" name="application.css"/>
		<script src="http://maps.google.com/maps/api/js?sensor=false" type="text/javascript"></script>
		<link rel="shortcut icon" type="image/x-icon" href="#{request.contextPath}/resources/img/favicon.ico" />
	</h:head>
	<h:body>
			<div id="container">
			
				<div id="header">...HEADER...</div>
				
				<hr></hr>
				
				<div id="horizon">
					<div id="topbar"> <ui:include src="/template/topbar.xhtml" /></div>
					<div id="identity"><ui:include src="/template/topbar.xhtml" /></div>
				</div>
					
				<hr></hr>
								
				<div id="main">
					<div id="navigation">...NAV..</div>
					<div id="content"><ui:insert name="PageContent"> </ui:insert></div>
				</div>
				
				<hr></hr>
				
	            <div id="footer">...FOOTER...</div>
	            
	        </div>	
	</h:body>
</html>