<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets">
               
               
               <h:form> 
               
     <h:panelGrid columns="3">
	<h:commandLink action="/welcome" value="Home Page" />
 
	<h:commandLink action="/pages/login" value="LOG IN" />
	
	</h:panelGrid>
	 	</h:form>

</ui:composition>