<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="/template/index.xhtml"
                
               xmlns:p="http://primefaces.org/ui">
                
			
			
			      	
			<ui:define name="PageTitle">Colocation Platform</ui:define>		
			<ui:define name="PageContent">
			
    
			
			
			
			</ui:define>
			
			
			
			
			
</ui:composition>