<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                  xmlns:p="http://primefaces.org/ui"
                template="/template/index.xhtml">
         
			<ui:define name="PageTitle">drag</ui:define>		
			<ui:define name="PageContent">
			
			
			



<p:outputPanel layout="block" style="width:600px;height:400px;border:1px solid #666666;">
	<p:panel id="conpnl" header="Restricted">
		<h:graphicImage value="/resources/img/large_room.jpg" />

	</p:panel>
</p:outputPanel>
<p:draggable for="conpnl" containment="parent" />

			
			
			
			
			</ui:define>
</ui:composition>