<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/template/index.xhtml">
                	
			<ui:define name="PageTitle">drag</ui:define>		
			<ui:define name="PageContent">
			<h:form>
<p:panel id="pnl" header="Draggable Panel">
	<h:outputText value="I am actually a regular p:panel." />
</p:panel>
<p:draggable for="pnl" />


<h:graphicImage id="pic" value="/resources/img/Colocation_medium.jpg" />
<p:draggable for="pic" />

</h:form>  				
			
			
			</ui:define>
</ui:composition>