<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/template/index.xhtml">
                	
			<ui:define name="PageTitle">add pic</ui:define>		
			<ui:define name="PageContent">
			
			
			
<h:form enctype="multipart/form-data">  
  
    <p:fileUpload fileUploadListener="#{fileUploadController.handleFileUpload}"  
            mode="advanced"   
            update="messages"  
            sizeLimit="100000"   
            allowTypes="/(\.|\/)(gif|jpe?g|png)$/" />  
  
    <p:growl id="messages" showDetail="true"/>  
  
</h:form>  				
			
			
			</ui:define>
</ui:composition>