<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="/template/template.xhtml">
                	
			<ui:define name="PageTitle">log in</ui:define>		
			<ui:define name="PageContent">
			
			
		<h2> Log In</h2>
		
		
		
		<h:form id="login_form">
		
			<h:panelGrid columns="2">
				
				<h:outputText value="LOGIN" />
					<h:inputText value="#{authBean.user.login}" />
					
				<h:outputText value="PASSWORD " />
					<h:inputSecret value="#{authBean.user.password}" /> 
					
					<h:commandButton id="login_submit"   value="LOG IN" action="#{authBean.login}" />
					<h:message for="login_submit" styleClass="error" />
				
					
					
					
			 </h:panelGrid>
		</h:form>
		
		
			
			
			</ui:define>
</ui:composition>