<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="/template/index.xhtml"
                
               xmlns:p="http://primefaces.org/ui">
                
			
			
			      	
			<ui:define name="PageTitle">Registration Page</ui:define>		
			<ui:define name="PageContent">
			
		 <h:form>

    <p:growl id="growl" sticky="true" showDetail="true"/>

	<p:wizard widgetVar="wiz"
			flowListener="#{registrationBean.onFlowProcess}">
			
			
			
			
					
		<p:tab id="Adding" title="Additional">
			<p:panel header="Additional Information">
			
				<h:messages errorClass="error"/>
				
			 <h:outputText value="Kitchen: " />  
        <p:selectBooleanButton  onLabel="Yes" offLabel="No" onIcon="ui-icon-check" offIcon="ui-icon-close" value="#{collocationBean.rentalAd.kitchen}"> 
					
					
					   </p:selectBooleanButton> 
					
						
			 <h:outputText value="EElectric or gas hot plates : " />  
        <p:selectBooleanButton  onLabel="Yes" offLabel="No" onIcon="ui-icon-check" offIcon="ui-icon-close" value="#{collocationBean.rentalAd.gaz}"> 
					
  	   </p:selectBooleanButton> 
					
			 <h:outputText value="Heat or not: " />  
        <p:selectBooleanButton  onLabel="Yes" offLabel="No" onIcon="ui-icon-check" offIcon="ui-icon-close" value="#{collocationBean.rentalAd.heat}"> 
					   </p:selectBooleanButton> 
					
      	
			 <h:outputText value="KAir conditioning or not : " />  
        <p:selectBooleanButton  onLabel="Yes" offLabel="No" onIcon="ui-icon-check" offIcon="ui-icon-close" value="#{collocationBean.rentalAd.airConditioning}"> 
		   </p:selectBooleanButton> 
								
						
			 <h:outputText value="Lighting : " />  
        <p:selectBooleanButton  onLabel="Yes" offLabel="No" onIcon="ui-icon-check" offIcon="ui-icon-close" value="#{collocationBean.rentalAd.lighting}"> 
					   </p:selectBooleanButton> 
					
    
		
			 <h:outputText value="Bathroom or shower room: " />  
        <p:selectBooleanButton  onLabel="Yes" offLabel="No" onIcon="ui-icon-check" offIcon="ui-icon-close" value="#{collocationBean.rentalAd.bathroom}"> 
	   </p:selectBooleanButton> 
									
    				
    	
			 <h:outputText value="Balcony: " />  
        <p:selectBooleanButton  onLabel="Yes" offLabel="No" onIcon="ui-icon-check" offIcon="ui-icon-close" value="#{collocationBean.rentalAd.balcony}"> 
		   </p:selectBooleanButton> 
								
    	
			 <h:outputText value="Charges included or  not in the rent : " />  
        <p:selectBooleanButton  onLabel="Yes" offLabel="No" onIcon="ui-icon-check" offIcon="ui-icon-close" value="#{collocationBean.rentalAd.chargesIncluded}"> 
		   </p:selectBooleanButton> 
								
    
					
    
				<h:outputText value="Skip to last: " />
					<h:selectBooleanCheckbox value="#{collocationBean.skip}" />
	   </p:selectBooleanButton> 
									
				</h:panelGrid>
			
			</p:panel>
		</p:tab>
		
			
			
	
		<p:tab id="personal" title="General">

			<p:panel header="General Information">
			
				<h:messages errorClass="error"/>
				
				<h:panelGrid columns="2" columnClasses="label, value" styleClass="grid">
					
					
					<h:outputText value="Login: *" />
					<p:inputText required="true" label="Login"
							value="#{registrationBean.student.login}" />
					
					
					<h:outputText value="Firstname: *" />
					<p:inputText required="true" label="Firstname"
							value="#{registrationBean.student.firstname}" />
					
					<h:outputText value="Lastname: *" />
					<p:inputText required="true" label="Lastname"
							value="#{registrationBean.student.lastname}" />
					
					
					
					
					
					 <h:outputLabel for="pwd1" value="Password : *" />  
            <p:password id="pwd1" value="#{registrationBean.student.password}" match="pwd2" label="Password 1" required="true" feedback="true"/>  
  
            <h:outputLabel for="pwd2" value="Confirm your password *" />  
            <p:password id="pwd2" value="#{registrationBean.student.password}" label="Password 2" required="true"/>  
								  
								  
          
					
					
					
					
					 <h:outputText value="Gender: " /> 
					
					 <h:panelGrid columns="4" >  
  
        <p:selectOneRadio id="Gender" value="#{registrationBean.student.gendre}">  
            <f:selectItem itemLabel="Male" itemValue="Male" />  
            <f:selectItem itemLabel="Female" itemValue="Female" />  
          
        </p:selectOneRadio>  
  
    </h:panelGrid>  
					
					
					
					
					
					
					<h:outputText value="Age: " />
					<p:inputText value="#{registrationBean.student.age}" />
					
					
					
					
					
					<h:outputText value="Skip to last: " />
					<h:selectBooleanCheckbox value="#{registrationBean.skip}" />
				</h:panelGrid>
			</p:panel>
		</p:tab>
			
		<p:tab id="address" title="Address">
			<p:panel header="Geographic Information">
			
				<h:messages errorClass="error"/>
				
				<h:panelGrid columns="2" columnClasses="label, value">
					<h:outputText value="Street: " />
					<p:inputText value="#{registrationBean.adress.street}" />
					
					<h:outputText value="Postal Code: " />
					<p:inputText value="#{registrationBean.adress.zipCode}" />
					
					<h:outputText value="City: " />
					<p:inputText value="#{registrationBean.adress.country}" />
					
					<h:outputText value="Skip to last: " />
					<h:selectBooleanCheckbox value="#{registrationBean.skip}" />
				</h:panelGrid>
			</p:panel>
		</p:tab>
		
		
		
		
		
		
		
		<p:tab id="Adding" title="Personal">
			<p:panel header="Personal Information">
			
				<h:messages errorClass="error"/>
				
				<h:panelGrid columns="2" columnClasses="label, value">
					<h:outputText value="activities: " />
					<p:inputText value="#{registrationBean.student.activity}" />
					
					<h:outputText value="favorite hobbies : " />
					<p:inputText value="#{registrationBean.student.hobbies}" />
					
					<h:outputText value="Nationality " />
					<p:inputText value="#{registrationBean.student.nationality}" />
					
					<h:outputText value="Spoken Language :	 " /> 
			  
        <p:selectManyCheckbox value="#{registrationBean.student.langs}"  
            layout="pageDirection">  
            
            <f:selectItem itemLabel="Arabic" itemValue="Arabic" />  
            <f:selectItem itemLabel="French" itemValue="French" />  
            <f:selectItem itemLabel="English" itemValue="English" />   
             <f:selectItem itemLabel="Spanish" itemValue="Spanish" /> 
        </p:selectManyCheckbox>  


				<h:outputText value="Religion " />
					<p:inputText value="#{registrationBean.student.religion}" />

					
					
        <h:outputText value="smoker?: " />  
        <p:selectBooleanButton  onLabel="Yes" offLabel="No" onIcon="ui-icon-check" offIcon="ui-icon-close" value="#{registrationBean.student.smoker}">  
           
        </p:selectBooleanButton>
        
        <h:outputText value="has lived in collocation before?: " />  
        <p:selectBooleanButton  onLabel="Yes" offLabel="No" onIcon="ui-icon-check" offIcon="ui-icon-close" value="#{registrationBean.student.colBefore}"/>  
           

					
					<h:outputText value="if yes  How many years?"/>  
					<p:inputText value="#{registrationBean.student.years}" />
 
            
           
					
					<h:outputText value="other infotmations "/> 
					<p:inputText value="#{registrationBean.student.otherInf}" />
					
					
			<h:outputText value="Cleanliness " />
					<p:inputText value="#{registrationBean.student.cleanliness}" />
				

        
        <h:outputText value="has a pet?: " />  
        <p:selectBooleanButton  onLabel="Yes" offLabel="No" onIcon="ui-icon-check" offIcon="ui-icon-close">  
           
        </p:selectBooleanButton> 



<h:outputText value="if yes"/>  

 <p:selectOneRadio  value="#{registrationBean.student.pet}"  
            layout="pageDirection">  
            
            <f:selectItem itemLabel="dog" itemValue="dog"  />  
            <f:selectItem itemLabel="cat" itemValue="cat" />  
            <f:selectItem itemLabel="animal cage" itemValue="animal cage" />   
            
       </p:selectOneRadio>



	
	


	
					
    
				<h:outputText value="Skip to last: " />
					<h:selectBooleanCheckbox value="#{registrationBean.skip}" />
					
				</h:panelGrid>
			</p:panel>
		</p:tab>
		
		
		
		
			
		<p:tab id="contact" title="Contact">
			<p:panel header="Contact Information">
				
				<h:messages errorClass="error"/>
			
				<h:panelGrid columns="2" columnClasses="label, value">
					<h:outputText value="Email: *" />
					<p:inputText required="true" label="Email"
							value="#{registrationBean.student.email}" />
					
					<h:outputText value="Phone: " />
			
 <p:inputMask value="#{registrationBean.student.mobile}" mask="(99) 999-999"/>


<h:outputText value="Home Phone: " />
			
 <p:inputMask value="#{registrationBean.student.homePhone}" mask="(99) 999-999"/>



					<h:outputText value="You can call me " />
				

<p:selectOneRadio id="CallMe" value="#{registrationBean.student.callMe}">  
            <f:selectItem itemLabel="only in weekends" itemValue="only in weekends" />  
            <f:selectItem itemLabel="anytime" itemValue="anytime" />  
                 <f:selectItem itemLabel="only in the morning" itemValue="only in the morning" />  
          
        </p:selectOneRadio>  
  


<h:outputText value="contact MSN : " />
					<p:inputText value="#{registrationBean.student.msn}"/>
					


<h:outputText value="contact SKYPE : " />
					<p:inputText value="#{registrationBean.student.skype}"/>
					
					
					
					<h:outputText value="contact website  : " />
					<p:inputText value="#{registrationBean.student.website}"/>
					
					
					


					<h:outputText value="Additional Info: " />
					<p:inputText value="#{registrationBean.student.otherInf}"/>
					
					
						<h:outputText value="Skip to last: " />
					<h:selectBooleanCheckbox value="#{registrationBean.skip}" />
					
					
				</h:panelGrid>
			</p:panel>
		</p:tab>
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			<p:tab id="Pictures" title="Pictures">
			<p:panel header="Contact Information">
				
				<h:messages errorClass="error"/>
			
				<h:panelGrid columns="2" columnClasses="label, value">
					
					
		




<h:form enctype="multipart/form-data">

    <p:fileUpload fileUploadListener="#{registrationBean.handleFileUpload}"
            mode="advanced" 
         
    
            update="messages"
            sizeLimit="100000" 
            allowTypes="/(\.|\/)(gif|jpe?g|png)$/"/>

    <p:growl id="messages" showDetail="true"/>

</h:form>
                     
					
					
					
					
					
					
						<h:outputText value="Skip to last: " />
					<h:selectBooleanCheckbox value="#{registrationBean.skip}" />
					
					
				</h:panelGrid>
			</p:panel>
		</p:tab>
			
			
			
			
			
			
			
		<p:tab id="confirm" title="Confirmation">
			<p:panel header="Confirmation">
			
				<h:panelGrid id="confirmation" columns="2">
					<h:outputText value="Firstname: " />
					<h:outputText styleClass="outputLabel"
								value="#{registrationBean.student.firstname}" />
					
					<h:outputText value="Lastname: " />
					<h:outputText  styleClass="outputLabel"
								value="#{registrationBean.student.lastname}"/>
					
					<h:outputText value="Age: " />
					<h:outputText styleClass="outputLabel"
								value="#{registrationBean.student.age}" />
								
								
							<h:outputText value="Gender: " />
					<h:outputText styleClass="outputLabel"
								value="#{registrationBean.student.gendre}" />
							
							
							<h:outputText value="Login: " />
					<h:outputText styleClass="outputLabel"
								value="#{registrationBean.student.login}" />
								
									
							<h:outputText value="Password: " />
					<h:outputText styleClass="outputLabel"
								value="#{registrationBean.student.password}" />
								
								
								
								
					
					<h:outputText value="Street: " />
					<h:outputText styleClass="outputLabel"
								value="#{registrationBean.adress.street}" />
					
					<h:outputText value="Postal Code: " />
					<h:outputText styleClass="outputLabel"
								value="#{registrationBean.adress.zipCode}" />
					
					<h:outputText value="City: " />
					<h:outputText styleClass="outputLabel"
								value="#{registrationBean.adress.country}" />
					
					
					<h:outputText value="Langages : " />
					<h:outputText styleClass="outputLabel"
								value="#{registrationBean.student.langs}" />
					
					
					<h:outputText value="Email: " />
					<h:outputText styleClass="outputLabel"
								value="#{registrationBean.student.email}" />
					
					<h:outputText value="Phone " />
					<h:outputText styleClass="outputLabel"
								value="#{registrationBean.student.mobile}"/>
					
					<h:outputText value="Info: " />
					<h:outputText styleClass="outputLabel"
								value="#{registrationBean.student.otherInf}" />
					
					<h:outputText />
					<h:outputText />
				</h:panelGrid>
				
				<p:commandButton value="Submit" update="growl" 
							actionListener="#{registrationBean.save}"/>
			
			</p:panel>
		</p:tab>
		
	</p:wizard>
	
</h:form>
                    
			
			
			
			</ui:define>
			
			
			
			
			
</ui:composition>