<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="/template/template.xhtml">
                	
			<ui:define name="PageTitle"> Welcome page </ui:define>	
			
				
			<ui:define name="PageContent">
			
			<h2> Welcome !</h2>
			 
	
	
			
			</ui:define>
</ui:composition>