<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">
	<h:head>
		<title>Default title</title>
	</h:head>
	<h:body>
		<h:form>
	<h:commandLink action="/welcome" value="HOME PAGE" />
	</h:form>
		<h2>Log In </h2>
		<h:form>
		
			<h:panelGrid columns="2">
				<h:outputText value="Login" />
			<h:inputText value="#{authBean.login}" />
			
			<h:outputText value="Password" />
			<h:inputSecret value="#{authBean.password}" />
			
			
			<h:commandButton action="#{authBean.dologin}" value="log in" />>
		
			
			 </h:panelGrid>
		
		</h:form>
	</h:body>
</html>