<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="/template/index.xhtml">
                	
			<ui:define name="PageTitle">add property owner</ui:define>		
			<ui:define name="PageContent">
			
			
			
			<h:form>
					<h:panelGrid columns="2">
						
						<h:outputText value="#Login" />
						<h:inputText value="#{propertyOwnerBean.propertyOwner.login}" />
						
						<h:outputText value="#password" />
						<h:inputSecret value="#{propertyOwnerBean.propertyOwner.password}" />
						
						<h:outputText value="#confirm your password" />
						<h:inputSecret value="#{propertyOwnerBean.propertyOwner.password}" />
						
						
						
						<h:outputText value="#First Name" />
						<h:inputText value="#{propertyOwnerBean.propertyOwner.firstName}" />
						
						<h:outputText value="#Last Name" />
						<h:inputText value="#{propertyOwnerBean.propertyOwner.lastName}" />
						
						
						<h:outputText value="#email" />
						<h:inputText value="#{propertyOwnerBean.propertyOwner.email}" />
						
							<h:outputText value="#Gender" />
							<h:panelGrid columns="4">
							
	

	<h:selectOneRadio value="#{propertyOwnerBean.propertyOwner.gender}">
	<f:selectItem itemLabel="homme" itemValue="homme"/>
	<f:selectItem itemLabel="femme" itemValue="femme"/>
	</h:selectOneRadio>
	
	
	
	
						
						</h:panelGrid>
						
						<h:outputText value="#age" />
						<h:inputText value="#{propertyOwnerBean.propertyOwner.age}" />
						
						
						<h:commandButton value="save" action="#{propertyOwnerBean.doSaveOrUpdate}" />

					
					</h:panelGrid>
			
			</h:form>
			
			</ui:define>
</ui:composition>