<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="">
                	
			<ui:define name="PageTitle">all property owners</ui:define>		
			<ui:define name="PageContent">
			
				<h:dataTable>
				
				
				
				
				</h:dataTable>
			
			
			</ui:define>
</ui:composition>