<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="/template/template.xhtml">
                	
			<ui:define name="PageTitle"> Admin Page</ui:define>		
			<ui:define name="PageContent">
			
			
				
		<h2>...DASHBOARD... </h2>
		Welcome #{authBean.user.login}! <br />
		you logged in successfully! <br />
		
			
			</ui:define>
</ui:composition>